body {
  font-size: 18px;
  background: #f3f3f3;
}

.main.container {
  margin-top: 3em;
  width: 1340px;
}

.ui.card, .ui.cards > .card {
  width: 400px;
  margin: 20px;
}

.status-icon {
  text-align: center;
}

.status-icon i.huge {
  font-size: 2em;
}

.status-text {
  font-size: 0.8em;
}

.date {
  margin-top: 0em;
  margin-bottom: 0.3em;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1em;
}

.time {
  font-weight: 530;
  margin-top: 5px;
}

.timezone {
  font-size: 0.8em;
  opacity: 0.6;
  margin-left: 4px;
}

.organization {
  font-weight: 600;
  margin: 4px;
  line-height: 1.75rem;
}

.description {
  font-size: 16px;
}

.ui.cards > .card .meta {
  font-size: 0.9em;
}

.ui.label {
  margin-top: 20px;
}

.ui.users {
  margin-top: 10px;
}

.ui.card.insert {
  margin: 20px 0;
}
